<!DOCTYPE html>
<html ng-app="nubeliu">
<head>
	<title>Nubeliu</title>
	<link rel="stylesheet" type="text/css" href="./bower_components/angular-material/angular-material.css" />
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div ng-controller="AppCtrl" ng-cloak>

<div ng-controller="AppCtrl" layout="column" style="height:900px; width:270px;" ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Nubeliu</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide show-gt-md>   
        X      	
        </p>
      </md-content>

    </md-sidenav>
</section>

        <!-- toolbar-->
</div>
<div ng-controller="AppCtrl" layout="column" style="height: 500px;" ng-cloak>

  <section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools"></h1>
      </md-toolbar>

      <md-content layout-margin>
        <p>
          This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
        <md-button ng-click="toggleLeft()" class="md-accent">
          Close this Sidenav
        </md-button>
      </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

      <div layout="column" layout-align="top center">
        <p>
         CONTEUDO PRA CARALHO AQUI
        </p>

        

      </div>

    </md-content>

  </section>

</div>



<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="./bower_components/angular-aria/angular-aria.js"></script>

<script type="text/javascript">
	var app = angular
	.module('nubeliu', ['ngMaterial']);
	angular
  	
  	angular
  .module('nubeliu', ['ngMaterial'])
  .controller('AppCtrl', function ($scope, $timeout, $mdSidenav, $log) {
    $scope.toggleLeft = buildDelayedToggler('left');
    $scope.toggleRight = buildToggler('right');
    $scope.isOpenRight = function(){
      return $mdSidenav('right').isOpen();
    };

    /**
     * Supplies a function that will continue to operate until the
     * time is up.
     */
    function debounce(func, wait, context) {
      var timer;

      return function debounced() {
        var context = $scope,
            args = Array.prototype.slice.call(arguments);
        $timeout.cancel(timer);
        timer = $timeout(function() {
          timer = undefined;
          func.apply(context, args);
        }, wait || 10);
      };
    }

    /**
     * Build handler to open/close a SideNav; when animation finishes
     * report completion in console
     */
    function buildDelayedToggler(navID) {
      return debounce(function() {
        // Component lookup should always be available since we are not using `ng-if`
        $mdSidenav(navID)
          .toggle()
          .then(function () {
            $log.debug("toggle " + navID + " is done");
          });
      }, 200);
    }

    function buildToggler(navID) {
      return function() {
        // Component lookup should always be available since we are not using `ng-if`
        $mdSidenav(navID)
          .toggle()
          .then(function () {
            $log.debug("toggle " + navID + " is done");
          });
      }
    }
  })
  .controller('LeftCtrl', function ($scope, $timeout, $mdSidenav, $log) {
    $scope.close = function () {
      // Component lookup should always be available since we are not using `ng-if`
      $mdSidenav('left').close()
        .then(function () {
          $log.debug("close LEFT is done");
        });

    };
  })
  .controller('RightCtrl', function ($scope, $timeout, $mdSidenav, $log) {
    $scope.close = function () {
      // Component lookup should always be available since we are not using `ng-if`
      $mdSidenav('right').close()
        .then(function () {
          $log.debug("close RIGHT is done");
        });
    };
  });

    /**toolbar**/
    angular
    .module('toolbarDemo1', ['ngMaterial'])

	.controller('AppCtrl', function($scope) {

  });
</script>
</body>
</html>